body {
  background-image: url('/img/jollybengali_background.jpg');
}

.container {
  font-family: helvetica;
  width: auto;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  background-color: #FFF5B5;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 5px;
}

.heading h1 {
  margin: 0px;
}

.nav-bar {
  background-color: #FFF5B5;
  border-radius: 10px;
  padding: 5px 5px 5px 15px;
  margin-bottom: 5px;
}

.nav-bar a {
  margin: 0px 10px;
  font-weight: bold;
  text-decoration: none;
  color: #37230E;
}

.content-box {
  background-color: #FFF5B5;
  border-radius: 10px;
  padding: 5px 25px 5px 25px;
  margin: 5px 0px;
}

.add-post {
  font-family: helvetica;
  font-weight: bold;
}

input, textarea {
  border-color: #000;
  border-style: none;
  border-width: thin;
}

input[type=text] {
  width: 64%;
}

textarea {
  height: 200px;
  width: 100%;
}

input[type=submit] {
  margin-top: 15px;
  margin-bottom: 10px;
}

.post-added {
  # background-color: #D5DDE1;
  background-color: #fff9d0;
  border-radius: 10px;
  padding: 5px 5px 5px 25px;
  margin: 5px 0px;
}

.posts {
  font-family: 'Lato',Helvetica,sans-serif;
}
.posts .title {
}

.posts .content {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
 # background-color: #fff9d0;
 # border-radius: 10px;
 # padding: 10px 5px;
 white-space: pre-wrap;
}

.posts .tags {
  font-size: 12px;
}

.main-page {
  font-family: 'Lato',Helvetica,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  padding: 25px 0px;
}

.main-page img {
  float: right;
  height: 192px;
  margin-left: 25px;
}
